body {
 color: white;
 max-width: max-content;
 display: flex;
 justify-content: center;
 align-items: center;
 margin:auto;
}

.overlay {
 min-width: 100%;
 min-height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 background: linear-gradient(45deg, yellow, red, blue);
 background-size: 400% 400%;
 animation: gradient 45s ease infinite;
 z-index: -1;
 filter: saturate(50%);
}

main {
 max-width: 1200px;
 margin: 1rem;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

a {
 color: white;
 text-decoration-style: double;
 margin-right: 0.1rem;
}

a:hover {
 opacity: 0.8;
}

h2 {
 font-size: 1.25rem;
}


.CV {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 place-content: center;
 height: auto;
 margin: calc(2rem - .5vw);
}

.card {
 flex: 1 1 10rem;
 color: white;
 padding: 0.4rem;
 margin: 0.5vw;
 background: rgba(255, 255, 255, 0.25);
 box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(1px);
 border-radius: 10px;
 border: 1.5px solid rgba(255, 255, 255, 0.18);
}

.card > ul {
 padding: 0.25rem 0.5rem;
}

.card > ul > li > a {
 text-decoration: underline;
 font-size: calc(0.85rem);
 color: rgb(255, 197, 71);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
