.body {
 color: white;
 margin: 5vw;
}

.overlay {
 min-width: 100%;
 min-height: 100%;
 
 position: fixed;
 top: 0;
 left: 0;
 background: linear-gradient(45deg, yellow, red, blue);
 background-size: 400% 400%;
 animation: gradient 45s ease infinite;
 z-index: -1;
 filter: saturate(50%);
}

h2::first-letter {
 font-size: 130%;
}

main {
 z-index: 1;
 display: flex;
 place-content: center;
 height: auto;
 margin: 5vw;
}

.like {
 height: auto;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

a {
 color: white;
 text-decoration-style: double;
 margin-right: 0.1em;
}

a:hover {
 opacity: 0.7;
}

h2 {
 font-size: calc(1.25em);
}

.profile-link {
 margin-right: 0.5em;
}

.CV {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.card {
 flex: 1 1 10em;
 color: black;
 padding: 0.25em;
}

.card > ul {
 padding: 1em;
}

.card > ul > li > a {
 text-decoration: underline;
 font-size: calc(0.85em);
 color: tomato;
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
