.header {
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 margin: 1rem;
 flex-flow:column wrap
}

.header a {
 font-size: 1.1rem;
}
.header li {
 display: inline;
 opacity: 90%;
 padding-right: 0.2rem;
}
.header h1 {
 margin: 0;
 font-weight: bold;
}
.header h1::first-letter {
 font-size: 110%;
 font-style: oblique;
}
.header h1 {
 text-shadow: 0 0 2px #000000;
 opacity: 90%;
}
