.post {
 flex: 1 1 10rem;
 color: white;
 padding: 1rem;
 margin: 1rem;
 background: rgba(255, 255, 255, 0.25);
 box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(1px);
 border-radius: 10px;
 border: 1.5px solid rgba(255, 255, 255, 0.18);
}

.posts {
 justify-content: center;
 align-items: center;
 margin: 2rem;
}
